<div class=" d-flex justify-content-between">
    <div>
        <h1 class="font-weight-bold" mat-dialog-title>Add Emails In Group</h1>
    </div>
    <div>
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>

</div>



<mat-dialog-content>
    <div class="col-md-12">
        <mat-form-field class="w-50">
        <mat-label>Select a group</mat-label>

        <mat-select>
            <mat-option *ngFor="let group of groupList" [value]="group">{{group}}</mat-option>
          </mat-select>
          </mat-form-field>
    </div>
    <div class="col-md-12">
        <mat-form-field class="w-100">
            <mat-label>Select The Emails</mat-label>
            <mat-chip-list #chipList>
              <mat-chip
                *ngFor="let option of emails"
                (click)="remove(option)">
                {{option}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="New fruit..."
                #emailInput
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" >
              <mat-option *ngFor="let option of emailList" [value]="option.email">
                {{option.email}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <!-- <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Number</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="Number"
                   matInput
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of emailList" [value]="option.email">
                {{option.email}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
    </div>
    <div *ngIf="isHide" class="row">
        <div class="col-md-6">
            <mat-form-field class="w-100">
                <mat-label>Group Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
    </div>




</mat-dialog-content>





<mat-dialog-actions>
    <div class="col-md-12  d-flex justify-content-end">
        <button class="color" mat-button mat-dialog-close>Save</button>

    </div>
</mat-dialog-actions>