



    
  
    
  
 
  
 


// ::ng-deep .mat-form-field.mat-focused {
//     .mat-form-field-label {
//         color: #ff884d;
//     }
//     .mat-form-field-ripple {
//         background-color: #ff884d;
//     }
//     .mat-form-field-required-marker {
//         color: #ff884d;
//     }
//     .mat-input-element {
//         color: #ff884d;
//     }
//     .mat-form-field-flex{
        
//             border-radius: 30px !important

//         }
    
// }

// =========================Avatar And Card===========================
.margin{
    display: flex;
    justify-content: center;
    align-items: center;


}
.height{
    height: 50vh;
}
.backGround{
    background-color: #0096c7;
}
.height{
        height: 100%;
    }

.cardHeightWidth{
    width: 50vw;
}
.radiusButton{
    border-radius: 20px;
}
.InputRadius{
    border-radius: 50%;
}
.imgRadius{
        border-radius: 50%;
    
    }
.cardWidth{
    width: 180px;
}
.avatarImg{
    height: 150px;
    width: 150px;
}


// ==================== Side By Side ============================

// .cardBackGround{
//     background-color: transparent;
// }
// .headingColor{
//     color: white;
// }
// .radiusButton{
//     border-radius: 20px;

// }
// .font{
//     font-size: 20px;
// }
// .height{
//     height: 100%;
// }

// .imgHeight{
//     height: 200px;
// }