<div class="container">
  <h1 class="font-weight-bold">
    Add Groups
    <button
      mat-mini-fab
      class="color"
      aria-label="Example icon button with a menu icon"
    >
      <mat-icon (click)="addEmails()">add</mat-icon>
    </button>
  </h1>
  <table
    mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>NAME</th>
      <td mat-cell *matCellDef="let element" (click)="expensionFunc(element)">
        {{ element.name | uppercase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalEmails">
      <th mat-header-cell *matHeaderCellDef>Total Emails</th>
      <td mat-cell *matCellDef="let element" (click)="expensionFunc(element)">
        {{ element.emails?.length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalTemplates">
      <th mat-header-cell *matHeaderCellDef>Total Templates</th>
      <td mat-cell *matCellDef="let element" (click)="expensionFunc(element)">
        {{ element.templates?.length }}
      </td>
    </ng-container>

    <ng-container matColumnDef="editGroup">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element" (click)="expensionFunc(element)">
        <button
          mat-raised-button
          mat-button
          color="primary"
          (click)="upsertEmails($event, element)"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="deleteGroup">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element" (click)="expensionFunc(element)">
        <button
          mat-raised-button
          mat-button
          color="warn"
          (click)="deleteGroup($event, element)"
        >
          Delete
        </button>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="emails">
      <th mat-header-cell *matHeaderCellDef>Total Emails</th>
      <td mat-cell *matCellDef="let element">
        {{ element.emails.length | uppercase }}
      </td>
    </ng-container> -->
    <!-- <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column | uppercase }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[column] | uppercase }}
      </td>
    </ng-container> -->

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div>
                <h1><b> Emails </b></h1>
                <mat-form-field>
                  <mat-label>Add Email</mat-label>
                  <input
                    [(ngModel)]="addNewEmail"
                    (keyup.enter)="addEmail(element)"
                    matInput
                    type="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  />
                  <mat-icon matSuffix (click)="addEmail(element)">add</mat-icon>
                </mat-form-field>
              </div>
              <mat-chip-list>
                <ng-container *ngFor="let email of element.emails">
                  <mat-chip>
                    {{ email.email }}
                    <mat-icon
                      aria-hidden="false"
                      (click)="removeEmail(email, element)"
                      >remove_circle</mat-icon
                    >
                  </mat-chip>
                </ng-container>
              </mat-chip-list>
            </div>
            <div class="col-md-12 col-lg-12">
              <br />
              <h1><b> Templates </b></h1>

              <mat-form-field>
                <mat-chip-list #chipList>
                  <mat-chip
                    *ngFor="let template of chipSelectedTemplates"
                    [selectable]="true"
                    [removable]="true"
                    (removed)="removeTemplate(template, element.id)"
                  >
                    {{ template.name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Your Template"
                    #templateInput
                    [formControl]="templateControl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addTemplate($event)"
                  />
                </mat-chip-list>
                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="templateSelected($event, element.id)"
                >
                  <mat-option
                    *ngFor="let thisTemplateName of filteredTemplates | async"
                    [value]="thisTemplateName"
                  >
                    {{ thisTemplateName }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <br />
      </td>
    </ng-container>
    <br />

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
</div>
