.backGround{
    background-color: #0096c7;
    height: 100%;
    width: 100%;
}
.color{
    background-color: #0096c7;

}

.cardHeightWidth{
    width: 80vw;
    height: 80vh;

}
.gridHeight{
    max-height: 300px;
    overflow: auto;
}

.margin{
    display: flex;
    justify-content: center;
    align-items: center;


}


table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
    ::ng-deep app-emails {
        .mat-form-field-wrapper {

            .mat-form-field-flex {

        .mat-form-field-infix{

            .mat-input-elemen{
                // height: 20px;

            }
        }
    }
    }
    }


  .example-element-diagram {
    min-width: 80px;
    // border: 2px solid black;
    // padding: 8px;
    font-weight: lighter;
    // margin: 8px 0;
    min-height: 80px;
    // overflow-y: auto;
  }
  .chipHeight{
    min-height: 50px;
    overflow-y: auto;
  }
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }