<div class="container">
  <!-- <div class="d-flex justify-content-between">
    <div>
      <h1 class="font-weight-bold" mat-dialog-title>Add a Template</h1>
    </div>
    <div>
      <mat-icon mat-dialog-close>close</mat-icon>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Template Name</mat-label>
        <input [(ngModel)]="model.name" matInput />
      </mat-form-field>
    </div>
    <div class="col-md-5 text-right">
      <!-- <button (click)="exportHtml()">Export</button> -->
      <button
        mat-raised-button
        mat-button
        color="primary"
        (click)="exportHtml()"
      >
        Save
      </button>
    </div>
    <div class="col-md-1 text-right">
      <mat-icon mat-dialog-close>close</mat-icon>
    </div>
  </div>

  <div *ngIf="!usenewEditor" class="container">
    <form [formGroup]="form">
      <div class="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
        </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          formControlName="editorContent"
          [ngModel]="this.html"
        >
        </ngx-editor>
      </div>
    </form>
  </div>

  <div *ngIf="usenewEditor" class="row">
    <!-- <button (click)="exportHtml()">Export</button> -->
    <email-editor
      (loaded)="editorLoaded($event)"
      (ready)="editorReady()"
    ></email-editor>
  </div>
</div>
