<div class="row background p-0">
    <div class=" p-0 col-md-4">
        <img class="background" src="../../../assets/Colorcard-hex_0096c7-www.colorbook.io.png" alt="">
    </div>
    <div class="  col-md-8">

        <div class="centerP" >
            <div>
                <h1 class="font-weight-bold text-center">Sign Up</h1>

            </div>
            <div class="row d-flex justify-content-center">
                <div class="mr-2">
                    <mat-form-field  appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="model.firstName" [required]=true matInput>
                    </mat-form-field> 
                </div>
                <div class="">
                    <mat-form-field  appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input [(ngModel)]="model.lastName" matInput>
                    </mat-form-field>
                </div>
            </div>
          
            <div>
                <mat-form-field  appearance="fill" class="input">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="model.email" type="email" [required]=true matInput>
                </mat-form-field>
            </div>
            <!-- <div>
                <mat-form-field  appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input [(ngModel)]="model.phone" [required]=true matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field  appearance="fill">
                    <mat-label>Address</mat-label>
                    <input [(ngModel)]="model.address" matInput>
                </mat-form-field>
            </div> -->
            <div class="row d-flex justify-content-center">
                <div class="mr-2">
                    <mat-form-field  appearance="fill">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="model.password" [required]=true type="password" matInput>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field  appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input [(ngModel)]="model.confirmPassword" type="password" [required]=true matInput>
                    </mat-form-field>
                </div>
            </div>
           
                <div class="row justify-content-center">
                    <div class="mr-2">
                        <button class="radiusButton backGroundColor" (click)="signUp()" mat-raised-button mat-button color="primary">Login</button>
        
                    </div>
                    <div>
                        <button class="radiusButton backGroundColor" (click)="login()" mat-raised-button mat-button color="primary">Already Have Account ?</button>
        
                    </div>
                </div>
              
                
               
         
                
                
           
       
        </div>
        




    </div>
</div>